/* Add CSS Styling */
.odd {
  background-color: pink;
  font-family: Verdana, "DejaVu sans", sans-serif;
}

.cooler {
  font-size: 24px;
}

#second {
  color: blue;
  font-size: 36px;
}

#fourth {
  font-size: 24px;
  background-color: lightgreen;
  font-weight: bold;
}
