/* Add CSS Styling */
div p {
  text-align: center;
  color: red;
  background-color: yellow;
  font-size: 20px;
}

/*
.container .text {
  text-align: center;
  color: red;
  background-color: yellow;
  font-size: 20px;
}
*/
